<li class="modulemenu-item t3js-mainmodule {f:if(condition:'{action} == {action_name}', then:' active')}">
  <a class="modulemenu-item-link" href="Install.php?install[action]={action_name}&install[context]={context}&install[controller]=tool">
      <span class="modulemenu-icon modulemenu-item-icon">
        <span class="t3js-icon icon icon-size-default icon-state-default icon-module-system_extinstall" data-identifier="module-system_extinstall">
            <span class="icon-markup">
                <img src="/typo3/sysext/install/Resources/Public/Icons/module-install.svg" width="32" height="32">
            </span>
        </span>
    </span>
    <span class="modulemenu-item-title">{label}</span>
  </a>
</li>
