{namespace i=TYPO3\CMS\Install\ViewHelpers}

<f:layout name="ToolAuthenticated" />
<f:section name="Content">

    <f:render partial="Action/Common/ActionTitle" arguments="{label: 'Settings'}" />


    <div role="tabpanel">
        <ul class="nav nav-tabs t3js-tabs" role="tablist">
            <li role="presentation" class="active t3js-tabmenu-item"><a href="#installPassword" aria-controls="installPassword" role="tab" data-toggle="tab">Install Password</a></li>
            <li role="presentation" class="t3js-tabmenu-item"><a href="#configure" aria-controls="configure" role="tab" data-toggle="tab" aria-expanded="false">Configure</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="installPassword">
                <f:render partial="Action/Tool/ImportantActions/NewInstallToolPassword" arguments="{_all}"/>
            </div>
            <div role="tabpanel" class="tab-pane" id="configure">
                <h1>Presets</h1>

                <f:for each="{actionMessages}" as="statusMessage">
                    <f:render partial="Action/Common/StatusMessage" arguments="{message: statusMessage}" />
                </f:for>

                <p>
                    The configuration module suggests best matching configuration settings
                    based on your system setup.
                </p>
                <p>
                    Alternatively TYPO3 can be run in a specific <a href="https://docs.typo3.org/typo3cms/CoreApiReference/ApiOverview/Bootstrapping/Index.html#bootstrapping-context" target="_blank">application context</a>,
                    by setting an environment variable in the web server configuration.
                    The application context can then be accessed e.g. in the AdditionalConfiguration.php file or
                    TypoScript configuration to customize settings accordingly.
                </p>
                <p>
                    Changed values are written to LocalConfiguration.php. The optional file AdditionalConfiguration.php
                    is not controlled by the TYPO3 CMS core and may override single settings again. Administrators
                    must maintain AdditionalConfiguration.php on their own and should use it with care.
                </p>
                <form method="post" class="form-horizontal">
                    <f:render partial="Action/Common/HiddenFormFields" arguments="{_all}" />

                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <f:for each="{features}" as="feature">
                            <f:render partial="Action/Tool/Configuration/{feature.name}" arguments="{_all}" />
                        </f:for>
                    </div>

                    <f:render partial="Action/Common/SubmitButton" arguments="{name:'activate', text:'Activate', className:'btn-save'}"/>


                </form>

                <hr />
                <f:if condition="{configurationValuesSaved}">
                    <f:then>
                        <h1>Saved configuration values</h1>

                        <f:if condition="{savedConfigurationValueMessages}">
                            <f:then>
                            </f:then>

                            <f:else>
                                <div class="typo3-message message-warning">
                                    <div class="header-container">
                                        <div class="message-header">
                                            No values changed
                                        </div>
                                    </div>
                                </div>
                            </f:else>
                        </f:if>

                        <hr />

                        <form method="post">
                            <f:render partial="Action/Common/HiddenFormFields" arguments="{_all}" />
                            <f:render partial="Action/Common/SubmitButton" arguments="{name:'continue', text:'Continue'}"/>
                        </form>
                    </f:then>

                    <f:else>
                        <div class="fixedHead">
                            <h1>Change configuration values</h1>

                            <p>
                                Changed values are written to LocalConfiguration.php. The optional file AdditionalConfiguration.php
                                is not controlled by the TYPO3 CMS core and may override single settings again. Administrators
                                must maintain AdditionalConfiguration.php on their own and should use it with care.
                            </p>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">Filter by:</span>
                                    <input type="text" class="form-control" placeholder="search setting" id="configSearch">
                                </div>
                            </div>
                        </div>

                        <form method="post">
                            <f:render partial="Action/Common/HiddenFormFields" arguments="{_all}" />
                            <div class="panel-group" id="allConfiguration" role="tablist" aria-multiselectable="true">
                                <f:for each="{data}" as="sectionData" key="sectionName">
                                    <f:if condition="{sectionData}">
                                        <f:render partial="Action/Tool/AllConfiguration/SubSection" arguments="{_all}" />
                                    </f:if>
                                </f:for>
                            </div>

                             <f:render partial="Action/Common/SubmitButton" arguments="{name:'write', text:'Write configuration', className:'btn-save'}"/>
                             <span class="btn btn-default t3js-all-configuration-toggle">Toggle All</span>
                        </form>
                    </f:else>
                </f:if>

            </div>
        </div>


</f:section>